<%= form_for @movies do |f| %>
<div>
	<%= f.label :title, "Name of movie" %><br>
	<%= f.text_field :title %>
<div>
	<%= f.label :description, "Description" %><br>
	<%= f.text_field :description %>
</div>
<div>
	<%= f.label :year_released, "Year Released" %></br>
	<%= f.text_field :year_released %>
</div>
<div>
	<%= f.label :image, "Image Filename" %><br>
	<%= f.text_field :image %>
</div>
<%= f.submit "Submit" %>
<% end %>