<%= form_for @movies, :html => { :class => "class-for-your-form" } do |f| %>
<div>
	<%= f.label :title, "Name of movie", :class => "class-for-your-label" %><br>
	<%= f.text_field :title, :class => "class-for-your-text-field" %>
<div>
	<%= f.label :description, "Description", :class =>"class-for-your-label" %><br>
	<%= f.text_field :description, :class => "class-for-your-text-field" %>
</div>
<div>
	<%= f.lable :year_released, "Year Released", :class =>"class-for-your-label" %></br>
	<%= f.text_field :year_released, :class => "class-for-your-text-field" %>
</div>
<div>
	<%= f.label :image, "Image Filename", :class => "class-for-your-label" %><br>
	<%= f.text_field :description, :class => "class-for-your-text-field" %>
</div>
<%= f.submit "Submit" %>
<% end %>